@import url(./header.css);
@import url(./home.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --principal: #f07657;
  --secundaria: #c55f46;
  --preto: #131312;
  --branco: #f5f1f0;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

span {
  color: var(--principal);
}

.btn {
  border: 1px solid var(--principal);
  padding: 0.5rem;
  border-radius: 5rem;
  background: none;
  color: var(--preto);
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background: var(--principal);
  color: var(--branco);
}